* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
  }
  
  span {
    overflow-y: scroll;
  }
  
  p {
    color: black;
    font-size: 2.5rem;
  }

  .speech{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
  }
  
  #results {
    width: 80%;
    height: 70%;
    margin: 50px auto;
    padding: 1rem;
    border: none;
    outline: 0;
    text-align: justify;
  }
  
  .fas {
    font-weight: 600;
    font-size: 3rem;
    color: black;
    min-width: 4rem;
  }
  
  button { 
    padding: 15px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .fa-trash-alt{
    color: red;
  }
  
  @media(max-width: 700px) {
    p {
      font-size: 2rem;
    }
    
    .fas {
      min-width: 3rem;
    }
  }