@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: #396575;
}

span {
  color: #fff;
  font-size: 3.2rem;
}

.speech {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

#top {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 90%;
  left: 6vw;
  top: 6vh;
  opacity: 0;
}

#theme,
#screen {
  width: 60px;
  height: 60px;
}

#theme {
  background-color: transparent;
  background-image: url(../icons/sunny.png);
  background-size: 60px;
}

#screen {
  background-color: transparent;
  background-image: url(../icons/fullscreen.png);
  background-size: 60px;
}

#bottom {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 90%;
  bottom: 1vw;
  opacity: 0;
}

#btnMic {
  width: 70px;
  height: 70px;
  background-color: transparent;
  background-image: url(../icons/mic-off.png);
  background-size: 70px;
}

.english {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: #292929!important;
  
}

#checkEnglish {
  width: 70px;
  height: 70px;
  background-color: transparent;
  background-image: url(../icons/button_unchecked.png);
  background-size: 70px;
}

#btnReduce {
  width: 70px;
  height: 70px;
  background-color: transparent;
  background-image: url(../icons/reducer.png);
  background-size: 70px;
}

#btnIncrease {
  width: 70px;
  height: 70px;
  background-color: transparent;
  background-image: url(../icons/amplifier.png);
  background-size: 70px;
}

#results::-webkit-scrollbar {
  width: 0 !important;
}

#results {
  overflow-y: scroll;
  width: 95%;
  height: 90%;
  margin: 10px auto;
  padding: 1rem;
  border: none;
  outline: 0;
  text-align: justify;
}

.fas {
  font-weight: 600;
  font-size: 3rem;
  color: black;
  min-width: 4rem;
}

button {
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

#first{
  margin-top: 60vh;
}

@media(max-width: 700px) {
  span {
    font-size: 2rem;
  }
}
@media (max-width: 550px) {
  .viewImgs > p {
    display: none;
  }

  #theme,
  #screen,
  #btnMic,
  #checkEnglish,
  #btnReduce,
  #btnIncrease {
    width: 50px;
    height: 50px;
    background-size: 50px;
  }

  #btnMic {
    margin-left: 50px;
  }

}
  